$darkest:  #1230AE;
$darkest-transparent: #1230AE;
$nav: #1230AE;
$button: #FF6600;
$highlight: #f9f9f9;
$border-pink: 0.5rem solid $highlight;
$border-pink-small: 0.2rem solid $highlight;
$text: #eee;
$linear-gradient--default: linear-gradient(to bottom right, rgba(255, 102, 0, 0.6), rgba(18, 48, 174, 0.5) 80%)
