@use 'colors';
@use 'fonts';


%cta
{
    width: 11rem;
    padding: 0.5rem;
    font-size: 70%;
    background: colors.$button;
    border: none;
    color: colors.$text;
    border-radius: 1rem;
    text-transform: uppercase;
}

%cta:hover
{
    cursor: pointer;
    background: darken(colors.$button, 20%);
    transition: 0.2s;
}


%header
{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}



%h2Handwriting
{
    font-family: fonts.$handwriting;
    font-size: 380%;
    color: colors.$text;
}


%section
{
    height: 80rem;
    border-bottom: colors.$border-pink-small;
    padding-top: 4rem;
    padding-bottom: 4rem;
}


%icon
{
    font-size: 250%;
    color: colors.$text;
    border: colors.$border-pink;
    border-radius: 50%;
    padding: 1.5rem;
}


