@use 'components';

.footer
{
    @extend %section;
    height: 100%;
}

.footer__header
{
    @extend %header;
}

.footer__h2
{
    @extend %h2Handwriting;
}

.footer__list
{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    flex-wrap: wrap;
}

.footer__img
{
    height: 20rem;
}











