@use 'colors';
@use 'components';

.over
{
    @extend %section;
}

.over__header
{
    @extend %header;
}

.over__h2
{
    @extend %h2Handwriting;
}

.over__columns
{
    display: flex;
    gap: 4rem;
    justify-content: center;
    height: 100%;
}

.over__column
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.over__p
{
    width: 55ch;
    color: colors.$text;
}

.over__figure
{
    position: relative;
    width: 40rem;
    height: 60rem;
}

.over__figure::after
{
    content: "";
    background: colors.$linear-gradient--default;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.over__img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}